snippet php "Php block" !b
<?php
$0
?>
endsnippet

snippet fun "Function snippet" !b
${1:public} function ${2:name}($3)
\{
    $0
\}
endsnippet

snippet el "echo language text" i
<?= Yii::t('app', '$1'); ?>$0
endsnippet

